<div id="allowBootstrap" role="form">
  <h1>Sign up</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= fields_for(@user) do |u| %>
      <div class="field form-group clearfix">
        <div class="col-sm-2">
          <%= u.label :name %>
          <%= u.text_field :name, autocomplete: "off", class: 'form-control input-sm' %>
        </div>
      </div>
    <% end %>

    <div class="field form-group clearfix">
      <div class="col-sm-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control input-sm' %>
      </div>
    </div>

    <div class="field form-group clearfix">
      <div class="col-sm-3">
        <%= f.label :password %> <% if @validatable %><br>
        <i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control input-sm' %>
      </div>
    </div>

    <div class="field form-group clearfix">
      <div class="col-sm-3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-sm' %>
      </div>
    </div>

    <div class="col-sm-12">
      <%= f.submit "Sign up", class: 'btn btn-default btn-sm' %>
    </div>
  <% end %>

  <div class="col-sm-12 underlinks">
    <%= render "logininfos/shared/links" %>
    <div class="underlinks">
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>