<%= render partial: 'layouts/topbar' %>

<div id="allowBootstrap" role="form">
  <h1>Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field form-group clearfix">
      <div class="col-sm-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control input-sm' %>
      </div>
    </div>

    <div class="col-sm-12">
      <%= f.submit "Reset password", class: 'btn btn-default btn-sm' %>
    </div>
  <% end %>

  <div class="col-sm-12 underlinks">
    <%= render "logininfos/shared/links" %>
  </div>
</div>