<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field longtextField " id="nameField">
    <%= f.label :name ,:class => "top"%>
    <%= f.text_field :name ,:class => "top"%>
  </div>
  <div class="field longtextField " id="birthField">
    <%= f.label :birth ,:class => "top"%>
    <%= f.date_field :birth ,:class => "top" %>
  </div>
  
  <div class="field longtextField " id="prefectureField">
    <%= f.label :prefecture_id %>
    <%= f.grouped_collection_select :prefecture_id, @prefectureregions, :prefectures, :name, :id, :name, :include_blank => true %>
  </div>
  <div class="field longtextField " id="homeprefectureField">
    <%= f.label :home_prefecture_id %>
    <%= f.grouped_collection_select :home_prefecture_id, @prefectureregions, :prefectures, :name, :id, :name, :include_blank => true %>
  </div>
  <div class="field textField " id="jobField">
    <%= f.label :job %>
    <%= f.text_field :job %>
  </div>
  <div class="field sliderField " id="genderField">
    <%= f.label :gender %>
    <%= f.radio_button :gender, 0, {:checked=>true} %>
    <%= f.label :gender_0 , "M"%>
    <%= f.radio_button :gender, 1 %>
    <%= f.label :gender_1 , "W"%>
  </div>
  <div class="field textField " id="marriedField">
    <%= f.label :married %>
    <%= f.select :married, { '既婚' => 1, '未婚' => 2 }, :include_blank => true %>
  </div>
  <div class="field textboxField " id="introductionField">
    <%= f.label :introduction %>
    <%= f.text_area :introduction, cols: 60, rows: 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
