<%= render partial: 'layouts/topbar' %>
<div class="centering-mypage" >
<h1> user info page </h1>
  <table class="table-mypage">
    <thead>
      <tr>
        <th>Follow</th>
        <th>Follower</th>
      </tr>
    </thead>
    <tbody>
      <% @list_size.times do |count| %>
        <tr>
          <% if @following[count].present? %>
            <td>
              <%= @following[count].name %>
            </td>
          <% end %>
          <% if @followed[count].present? %>
            <td>
              <%= @followed[count].name %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="centering-infolink">
  <%= link_to 'Edit your info', edit_user_path(id: @current_user.id) %>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
