<p id="notice"><%= notice %></p>
<%= javascript_include_tag "application" %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user.birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @user.prefecture.name if @user.prefecture.present? %>
</p>

<p>
  <strong>Home prefecture:</strong>
  <%= @user.home_prefecture.name if @user.prefecture.present? %>
</p>

<p>
  <strong>Job:</strong>
  <%= @user.job %>
</p>

<p>
  <strong>Married:</strong>
  <% case @user.married %>
  <% when 1 then %>
    既婚
  <% when 2 then %>
    未婚
  <% end %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction %>
</p>
<% if @user == @current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user , method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<!-- ログインしており、ユーザーがFollowしていない場合にFollowリンク表示 Follow済の場合はRemoveリンク表示 -->
<% if logininfo_signed_in? %>
  <% if @user.followed.exists?(@current_user.id) == false %>
    <%= form_for User.new ,:url => follow_user_path do |f| %>
      <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
    <% end %>
  <% else %>
    <%= form_for User.new ,:url => remove_user_path do |f| %>
      <%= f.submit "Remove", class: "btn btn-large btn-primary" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Back', users_path %>
