<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @user.birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @user.prefecture.name if @user.prefecture.present? %>
</p>

<p>
  <strong>Home prefecture:</strong>
  <%= @user.home_prefecture.name if @user.prefecture.present? %>
</p>

<p>
  <strong>Job:</strong>
  <%= @user.job %>
</p>

<p>
  <strong>Married:</strong>
  <% case @user.married %>
  <% when 1 then %>
    既婚
  <% when 2 then %>
    未婚
  <% end %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @user.introduction %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete', @user , method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
