<%= render partial: 'layouts/topbar' %>
<div class = "centering-ranking">
<h1> ranking page </h1>
  <table class = "table-ranking">
    <thead>
      <tr>
        <th class = "rank" >順位</th>
        <th>国</th>
        <th>地域</th>
        <th>ユーザー</th>
      </tr>
    </thead>
    <tbody>
      <% 10.times do |ranking_num| %>
        <% if ranking_num == 0 %>
        <tr>
          <td class = "rank first"><%= ranking_num+1 %></td>
          <td class = "first"><%= @country_ranking[ranking_num].name %></td>
          <td class = "first"><%= @localregion_ranking[ranking_num].name %></td>
          <td class = "first"><%= @user_ranking[ranking_num].name %></td>
        </tr>
        <% else %>
        <tr>
          <td class = "rank other"><%= ranking_num+1 %></td>
          <td class = "other"><%= @country_ranking[ranking_num].name %></td>
          <td class = "other"><%= @localregion_ranking[ranking_num].name %></td>
          <td class = "other"><%= @user_ranking[ranking_num].name %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<%= render partial: 'layouts/footer' %>