<h1>Listing wines</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Localregions</th>
      <th>Svg x</th>
      <th>Svg y</th>
      <th>Body</th>
      <th>Sweetness</th>
      <th>Sourness</th>
      <th>Winetype</th>
      <th>Year</th>
      <th>Winevariety</th>
      <th>Photopath</th>
      <th>Score</th>
      <th>Price</th>
      <th>Winery</th>
      <th>User</th>
      <th>Winelevel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= wine.country_id %></td>
        <td><%= wine.localregions_id %></td>
        <td><%= wine.svg_x %></td>
        <td><%= wine.svg_y %></td>
        <td><%= wine.body %></td>
        <td><%= wine.sweetness %></td>
        <td><%= wine.sourness %></td>
        <td><%= wine.winetype_id %></td>
        <td><%= wine.year %></td>
        <td><%= wine.winevariety_id %></td>
        <td><%= wine.photopath %></td>
        <td><%= wine.score %></td>
        <td><%= wine.price %></td>
        <td><%= wine.winery %></td>
        <td><%= wine.user_id %></td>
        <td><%= wine.winelevel %></td>
        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wine', new_wine_path %>
