<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Regions:</strong>
  <%= @wine.country.worldregion.name %>
  <%= ",#{@wine.country.name}" unless @wine.country.name == '不明' %>
  <%= ",#{@wine.localregion.name}" unless @wine.localregion.name == '不明' %>
</p>

<p>
  <strong>Inputregion:</strong>
  <%= @wine.input_region %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @wine.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @wine.longitude %>
</p>

<p>
  <strong>Body:</strong>
  <%= @wine.body %>
</p>

<p>
  <strong>Sweetness:</strong>
  <%= @wine.sweetness %>
</p>

<p>
  <strong>Sourness:</strong>
  <%= @wine.sourness %>
</p>

<p>
  <strong>Winetype:</strong>
  <%= @wine.winetype.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<p>
  <strong>WineVariety:</strong>
  <% @wine.winevarieties.each do |winevariety| %>
    <%= winevariety.name %>
  <% end %>
</p>

<p>
  <strong>Score:</strong>
  <%= @wine.score %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wine.price %>
</p>

<p>
  <strong>Situation:</strong>
  <% @wine.situations.each do |situation| %>
    <%= situation.name %>
  <% end %>
</p>

<p>
  <strong>Winery:</strong>
  <%= @wine.winery %>
</p>

<p>
  <strong>UserName:</strong>
  <%= @wine.user.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @wine.photopath unless @wine.photopath.nil? %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Delete', @wine , method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', wines_path %>
