<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wine.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @wine.country_id %>
</p>

<p>
  <strong>Localregions:</strong>
  <%= @wine.localregion_id %>
</p>

<p>
  <strong>Svg x:</strong>
  <%= @wine.svg_x %>
</p>

<p>
  <strong>Svg y:</strong>
  <%= @wine.svg_y %>
</p>

<p>
  <strong>Body:</strong>
  <%= @wine.body %>
</p>

<p>
  <strong>Sweetness:</strong>
  <%= @wine.sweetness %>
</p>

<p>
  <strong>Sourness:</strong>
  <%= @wine.sourness %>
</p>

<p>
  <strong>Winetype:</strong>
  <%= @wine.winetype_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @wine.year %>
</p>

<!-- <p>
  <strong>Winevariety:</strong>
  <%= @wine.winevariety_id %>
</p> -->

<p>
  <strong>Photopath:</strong>
  <%= @wine.photopath %>
</p>

<p>
  <strong>Score:</strong>
  <%= @wine.score %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wine.price %>
</p>

<p>
  <strong>Winery:</strong>
  <%= @wine.winery %>
</p>

<p>
  <strong>User:</strong>
  <%= @wine.user_id %>
</p>

<p>
  <strong>Winelevel:</strong>
  <%= @wine.winelevel %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
