<div class = 'navbar'>
	<ul class = 'nav'>
	<li><%= link_to "Home" , root_path , :style => "ref" %></li>
	<li><%= link_to 'New Wine', new_wine_path %></li>
	<li><%= link_to 'Filter', new_wine_path %></li>
	<li><%= link_to 'Ranking', new_wine_path %></li>
	<li><%= link_to 'Suggest', new_wine_path %></li>
	<li><%= link_to 'Mean', new_wine_path %></li>
	<li><%= link_to 'Login', new_wine_path %></li>
	</ul>
</div>