<div class = 'navbar'>
  <ul class = 'nav'>
  <li><%= link_to "Home" , root_path , :style => "ref" %></li>
  <li><%= link_to 'New Wine', new_wine_path %></li>
  <li><%= link_to 'Filter', new_wine_path %></li>
  <li><%= link_to 'Ranking', new_wine_path %></li>
  <li><%= link_to 'Suggest', new_wine_path %></li>
  <li><%= link_to 'Mean', new_wine_path %></li>
  <li><%= link_to 'Sign up', new_logininfo_registration_path %></li>
  
  <% if logininfo_signed_in? %>
    <li><%= link_to 'Logout', destroy_logininfo_session_path, method: :delete %>
	<% else %>
    <li><%= link_to 'Login', new_logininfo_session_path %></li>
  <% end %>
  
  </ul>
</div>