<div class = 'navbar'>
  <ul class = 'nav'>
  <li><%= link_to "Home" , root_path , :style => "ref" %></li>
  <li onClick="showCreateArea();"><a>New Wine</a></li>
  <li><%= link_to 'Ranking', ranking_path %></li>
  <li><%= link_to 'Contact', inquiry_path %></li>  

    <div id="userInfoArea">
      <input type="checkbox"
            id="userName"
            onChange="switchVisUserMenu();"></input>
      <label for="userName">Guest</label>
      <div id="userMenu">
        <% if logininfo_signed_in? %>
          <%= link_to 'Mypage',mypage_path %>
          <%= link_to 'Logout', destroy_logininfo_session_path, method: :delete %>
        <% else %>

          <%= link_to 'Sign up', new_logininfo_registration_path %>
          <%= link_to 'Login', new_logininfo_session_path %>
        <% end %>
      </div>
    </div>
  </ul>
</div>

<script>
  var userData = <%= raw @current_user.to_json %>;
  
  setUserData( userData );
</script>